body{
    font-family: 'Bree Serif', serif;
}
header{
    text-align: center;

}
table {
    width: 100%;
    margin-top: 50px;
    border: solid 1px black;
}

th,
td {
    text-align: center;
    border: solid 1px black;
}

audio{
    width: 150px;
}
video{
    width: 300px;
    height: 180px
}

img{
    width: 300px;
    height: 180px;
}
