body{
    background-color:#D5E0FF;
    font-family: 'Bree Serif', serif;
}
header{
    text-align: center;

}
table {
    width: 100%;
    margin-top: 50px;
}

th,
td {
    padding: 8px;
    text-align: center;
}

audio{
    width: 150px;
}
video{
    width: 200px;
    height: 150px
}

img{
    width: 200px;
    height: 150px;
}
